// @font-face {
//     font-family: "Helvetica";
//     src:url("base/fonts/helveticat.woff") format("woff"), 

// }
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

body {
    font-weight: 500;
    font-size: 13px;
    font-family: 'Roboto' sans-serif;
}

h2{
    font-size: 32px;
    font-weight: 700;
}
h3{
    font-size: 28px;
    font-weight: 700;
}
p{
    font-size: 20px;
}


.pull-left{
    line-height: 20px;
    font-size: 11px;
}
.nav-link{
    color: #000;
}
.mobile-option{
    position: absolute;
    right: 195px;
    margin-top: 8px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    box-shadow: 0 2px 10px #939393;
    z-index: 1000;
    @media screen and (min-width: 600px){
        display: none;  
    }
}

.containers{
    padding-top: 10px;
    background-color: #f4f4f4;
    @media screen and (max-width: 1000px){
        display: none;
    }
}
.navbar{
    justify-content: center;
}
.list-group-item{
    background-color: initial;
    border-top: 1px solid #c2c2c5;
    border-bottom: 1px solid #c2c2c5;
    padding: 2.9px 12px;
    a  {
        font-size: 12px;
        font-weight: 500px;
        line-height: 30px;
        background-color: initial;
        border: none;
        border-radius: 0;
        }
}
.list-group-nav{
    position: relative;
    display: block;
    padding: 12px;
    color: #212529;
    font-weight: 500;
    font-size: 13px;
    text-decoration: none;
}
.d-flex{
    margin-left: 15px;
    font-size: 12px;
    .btn{
        background-color: #7C7C83;
        border:0px;
        font-size: 14px;
        font-weight: 500;
    }
}

.sisu{
    padding: 80px;
    margin-top: 60px;
    background-color: #f9f8f7;
    align-items: center;
    justify-content: space-between;
    position: relative;
    p{
        margin-top: 20px;
        line-height: 28px;
    }

    .btn{
        font-size: 16px;
        font-weight: 700;
        padding: 0;
    }
    @media screen and (max-width: 1000px){
        padding: 10px;
        } 
    
    .rounded{
        position: absolute;
        top: 10px;
        width:376px;
        height: 376px;
        @media screen and (max-width: 1000px){
            width: 100%;
            position: initial;
            }
        } 
}
.container_blog{
    padding-top: 80px;
    padding-bottom: 80px;
}
.card{
    border:0px;
    padding: 40px 26px;
}
.card1{
    background-color: #f9f8f7;
    padding: 40px 26px;
}
.card-title{
    text-align: left;
    margin-bottom: 24px;
}
.date{
    p{
        font-size: 14px;
        font-weight: 400;
    }
    color: #949096;
    margin: 0px 0px 10px 34px;
    text-align: left;
}

.bubbleChat{
    position: relative;
    text-align: left;
    padding-left: 34px;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    &::before {
        position: absolute;
        content: '';
        height: 24px;
        width: 24px;
        background: url("https://www.lhv.ee/assets/images/elements/blog.svg");
        background-size: cover;
        position: absolute;
        left: 0;   
        top:6%; 
    }
}
.bubbleChat1{
    position: relative;
    text-align: left;
    padding-left: 34px;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    &::before {
        position: absolute;
        content: '';
        height: 24px;
        width: 24px;
        background: url("https://www.lhv.ee/assets/images/elements/read.svg");
        background-size: cover;
        position: absolute;
        left: 0;
        top:6%;    
    }
}
.bubbleChat2{
    position: relative;
    text-align: left;
    padding-left: 34px;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    &::before {
        position: absolute;
        content: '';
        height: 24px;
        width: 24px;
        background: url("https://www.lhv.ee/assets/images/elements/play-video.svg");
        background-size: cover;
        position: absolute;
        left: 0;
        top:6%;    
    }
}
.disclaimer{
    margin-top: 10px;
    margin-bottom: 10px;
    #footertext{
        font-size: 12px;
        font-weight: 300;
        color: #262633;
    }
}
.accordion-item{
    border: 0;
}
.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    transform: scale(.7) !important;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}
.podcast{
    #podcast-date{
        text-align: left;
    }
}
#readAll{
    background-color: #f9f8f7;
    padding-bottom: 20px;
}
.container-lhv-green{
    background-color: #F9F0E9;
}
.d-none{
    font-size: 13px;
    line-height: 26px;
    text-transform: uppercase; 
    font-weight: 500;
    color: #34343E;
    li{
        font-size: 14px;
        color: #262633;
        line-height: 26px;
        font-weight: 400;
        text-transform:capitalize; 
    } 
}
.container-footer-social {
    display: contents;
}
.navbar-nav2.ms-auto{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    @media screen and (max-width: 690px){
        margin-top: 20px;
        background-color: #000;
        }
}
li.nav-items{
    @media screen and (max-width: 690px){
        padding-left: 20%;
        width: 50%;
        img{
            padding: 10px;
        }
        }
}
.lhv-green{
    padding: 70px;
    @media screen and (max-width: 690px){
        padding: 20px;
    }
}
